{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <a href="{{ path('app_login') }}">{{ 'front.login'|trans }}</a>
    <a href="{{ path('app_report_an_issue') }}">{{ 'front.issue.report'|trans }}</a>
{% endblock %}
