{% extends 'admin/base.html.twig' %}

{% block title %}New Organisation{% endblock %}

{% block body %}
    <h1>Create new Organisation</h1>

    {{ include('admin/organisation/_form.html.twig') }}

    <a href="{{ path('app_admin_organisation_index') }}">back to list</a>
{% endblock %}
