{# templates/emails/signup.html.twig #}
<h1>Création de votre compte sur les cyclofiches</h1>

<p>
    Un compte vient d'être créé sur la plateforme des cyclofiches.
    Merci d'utiliser la fonctionnalité des <a href="{{ url('app_forgot_password_request') }}">mots de passes oubliés</a> pour créer votre mot de passe.
</p>
